name: Release Request

on:
  pull_request:
    types:
      - closed
      - edited
      - labeled
      - opened
      - unlabeled
    branches:
      - master

jobs:
  handle:
    permissions:
      contents: write
      pull-requests: write
    uses: Arthri/release-request/.github/workflows/i.yml@v2
